src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="de18acbc-07f5-48fe-a6ed-117c23a361ac" >
		<wsc:connection wsdlLocation="http://demo-ordermanagement.us-e2.cloudhub.io//orderManagement/orderManagementPort?wsdl" service="orderManagement" port="orderManagementPort" address="http://demo-ordermanagement.us-e2.cloudhub.io/orderManagement/orderManagementPort" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="getMovies" doc:id="a93f019b-4fc9-4ae7-809d-c381222db250" >
		<logger level="INFO" doc:name="Logger" doc:id="6c5c99f6-a910-4f55-acfe-0b2db337ec7a" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="3c70b25a-6ce9-41fe-903f-72633e42257a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
	{
  "movieName": "Hello",
  "language": "Telugu",
  "director": "raj",
  "reviews": 5
},
{
  "movieName": "Baahubali",
  "language": "Telugu",
  "director": "krishna",
  "reviews": 4
},
{
  "movieName": "Pushpa",
  "language": "Telugu",
  "director": "vamshi",
  "reviews": 4
},
{
  "movieName": "Spiderman",
  "language": "English",
  "director": "Robert",
  "reviews": 3
},
{
  "movieName": "Avengers",
  "language": "English",
  "director": "Jhon",
  "reviews": 2
}
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getTheaters" doc:id="01fbb3df-6f27-4342-9942-693a4ca8ab3f" >
		<logger level="INFO" doc:name="Logger" doc:id="6c37fa4c-3278-4d18-9c2e-d9e7067734be" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="509ec511-910d-4e71-a474-ff9242068b0b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
	{
		"theaterName": "AMB",
		"screenID": 123,
		"numberOfseats": 30,
		"location": "Kondapur",
		"price": 350,
		"startTime": "2022-01-07T20:00:00.0",
		"endTime": "2022-01-07T23:00:00.0",
		"movieID": 1
    },
	{
		"theaterName": "INOX",
		"screenID": 153,
		"numberOfseats": 40,
		"location": "Madhapur",
		"price": 250,
		"startTime": "2022-01-07T20:00:00.0",
		"endTime": "2022-01-07T23:00:00.0",
		"movieID": 2
    },
	{
		"theaterName": "IMAX",
		"screenID": 323,
		"numberOfseats": 50,
		"location": "KOTI",
		"price": 350,
		"startTime": "2022-01-07T20:00:00.0",
		"endTime": "2022-01-07T23:00:00.0",
		"movieID": 3
    },
	{
		"theaterName": "PVR",
		"screenID": 183,
		"numberOfseats": 80,
		"location": "KPHB",
		"price": 350,
		"startTime": "2022-01-07T20:00:00.0",
		"endTime": "2022-01-07T23:00:00.0",
		"movieID": 4
    },
	{
		"theaterName": "CINEPOLIS",
		"screenID": 321,
		"numberOfseats": 90,
		"location": "JNTU",
		"price": 250,
		"startTime": "2022-01-07T20:00:00.0",
		"endTime": "2022-01-07T23:00:00.0",
		"movieID": 5
    },
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="bookTickets" doc:id="a66d1cb4-6889-4710-8e9d-dff2099f05df" >
		<logger level="INFO" doc:name="Logger" doc:id="65feb73c-7ee3-4b73-afad-f828de17c1e8" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="851f0404-3d13-4e6b-a612-07491df4f612" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
root:{
   "status":"Booked",
  "Ticketno": 1234,
  "seats": [
    "A1",
    "B2",
    "C3"
  ]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="BookTicket" doc:id="faee871e-aa42-4849-8b73-a416424385e5" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="9a0a7ce4-d751-4904-af2b-8211760653d6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.body.root]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="addMovies" doc:id="60b3c4c2-ac19-47d2-b330-40de0239db43" >
		<logger level="INFO" doc:name="Logger" doc:id="e303ed31-8329-4e25-9a6f-4268f80a7fb8" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="c826a529-720e-49d3-9c8d-cadba9d29415" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "movies added succesfully.",
	"movieID": 12345
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="addTheaters" doc:id="6c024702-40c2-4312-ae59-c8e12404bc1b" >
		<logger level="INFO" doc:name="Logger" doc:id="3d2948e2-2a40-46bf-bb4e-548f54ca635f" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="99e980ee-a018-4dbb-83b5-4ac7ca80a180" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Theaters added succesfully.",
	"TheaterID": 123
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
